<ion-view view-title="Super Bowl Genius">
<ion-nav-buttons side="right" ng-show="false">
<button ng-show="isLoggedIn()" class="button button-icon button-clear"> Hello, {{displayName}}</button>
</ion-nav-buttons>
<div class="bar bar-subheader">
  <h1 class="title" style="text-overflow: none">Welcome to San Jose, home of Super Bowl 50!</h1>
</div>
<ion-content class="padding has-subheader">
<p>Let your smartphone be your playbook with this virtual visitor's kiosk for your Silicon Valley Super Bowl experience. Explore local dining options and Super Bowl events, brush up on your football knowledge, or chat with other fans.</p>
<ion-list>
<ion-item href="#/app/teams">View Playoff Team Stats</ion-item>
<ion-item href="#/app/trivia">Take A Trivia Time-Out</ion-item>
<ion-item href="#/app/events">Attend Super Bowl Events</ion-item>
<ion-item href="#/app/rules">Learn Football Terminology</ion-item>
<ion-item href="#/app/chat">Chat With Other Fans</ion-item>
<ion-item href="#/app/weather">Check Local Weather</ion-item>
<ion-item href="#/app/restaurants">Tackle Your Hunger</ion-item>
</ion-list>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-positive">
<div class="button-bar">
  <button class="icon ion-social-twitter button button-clear"></button>
  <button class="icon ion-social-facebook button button-clear"></button>
  <button class="icon ion-social-youtube button button-clear"></button>
</div>
</ion-footer-bar>
