<ion-side-menus enable-menu-with-back-views="false">
<ion-side-menu-content>
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>
<ion-side-menu side="left">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Super Bowl Genie Menu</h1>
  </ion-header-bar>
  <ion-content>
   <img id="profile-image" ng-show="isLoggedIn()" data-ng-src="{{profileImageURL}}">
    <ion-list>
      <ion-item menu-close ng-hide="isLoggedIn()" ng-click="login()">
        Login
      </ion-item>
        <ion-item menu-close ng-show="isLoggedIn()" ng-click="logoutFacebook()">
        Logout
      </ion-item>
     <ion-item menu-close ng-show="false" href="#/app/account"><i class="icon ion-android-settings"></i>
        Account Settings
      </ion-item>
      <ion-item menu-close ng-show="isLoggedIn()" href="#/app/progress"><i class="icon ion-ios-pulse-strong"></i>
        Progress Chart
      </ion-item>
      <ion-item menu-close ng-show="isLoggedIn()" href="#/app/goals"><i class="icon ion-ribbon-a"></i>
        Goals
      </ion-item>
   <!--      <ion-item menu-close ng-show="isLoggedIn()" href="#/app/friends"><i class="icon ion-ios-people"></i>
        Friends
      </ion-item> -->
        <ion-item menu-close ng-show="isLoggedIn()" href="#/app/blog"><i class="icon ion-ios-paper"></i>
        Blog
      </ion-item>
        <ion-item menu-close ng-show="isLoggedIn()" href="#/app/films"><i class="icon ion-film-marker"></i>
        Fight Films
      </ion-item>
        <ion-item menu-close ng-show="isLoggedIn()" href="#/app/media"><i class="icon ion-images"></i>
       Media
      </ion-item>
         <ion-item menu-close href="#/app/instructions"><i class="icon ion-images"></i>
       Instructions
      </ion-item>
      <ion-item menu-close href="#/app/home"><i class="icon ion-android-home"></i>
       Home
      </ion-item>
    </ion-list>
  </ion-content>
</ion-side-menu>
</ion-side-menus>
