<ion-view view-title="MMA HUSTLER">
   <ion-nav-buttons side="right" ng-show="false">
      <!--   <button class="button button-icon button-clear ion-compose">
        </button> -->
           <button class="button button-icon button-clear"> Hello, User</button>
      </ion-nav-buttons>
      <div class="bar bar-subheader">
        <h2 class="title">Select a link to find the training you need:</h2>


      </div>


  <ion-content class="padding has-subheader">
  <p>Welcome to MMA Hustler where you can find places to train, events, news and shop for awesome gear to ramp up your training.</p>



    <ion-list>

      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
      <div class="botnav">
        <center>
      <p>
      <button class="button button-positive top"><i class="icon ion-calendar"></i> Events</button>
      <button class="button button-positive top"><i class="icon ion-ios-body"></i> Fighters</button>
      <button class="button button-positive top"><i class="icon ion-ios-paper"></i> News</button>
      <button class="button button-positive top"><i class="icon ion-ios-cart"></i> Shop</button>
      </p>
  
  </center>
  </div>

    </ion-list>
  </ion-content>
</ion-view>
      <ion-footer-bar class="bar-positive">
      <div class="button-bar">
      <button class="icon ion-social-twitter button button-clear"></button>
      <button class="icon ion-social-facebook button button-clear"></button>
      <button class="icon ion-social-youtube button button-clear"></button>
      </div>
    </ion-footer-bar>
